body {
	background-color: LightSlateGray;
}

nav {
	padding: 25px 0px 25px 0px;
	border: 10px solid LightSteelBlue;
	background-color: LightSteelBlue;
}

.imgLoad {
	border-radius: 100px 100px 100px 100px;
	height: 200px;
	width: 200px;
}
